.economy {
    padding-bottom: 113px;
    border-bottom: 12px solid #f0f1f5;
}
.economy__wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.economy__header {
    display: flex;
    margin-bottom: 53px;
    position: relative;
    background: url("../img/step.svg") top right no-repeat;
}

.economy__img {
    width: 23%;
    margin-right: 54px;
}

.economy__title {
    color: #515560;
    font-size: 53px;
    text-align: left;
    display: block;
    font-weight: 400;
    text-shadow: -2px 6px 0#e0e4f6;
    margin-left: 24px;
    & span {
        text-transform: none;
        font-size: 86px;
        display: block;
    }
}

.economy__text {
    display: block;
    width: 77%;
}

.economy__paragraph {
    color: #9ea8d9;
    font-family: "Glober Bold", Arial, Helvetica, sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    & span {
        display: block;
    }
    & span:first-child {
        text-align: right;
        color: #969ecc;
    }
    & span:nth-child(2){
        text-align: center;
        color: #6e7492;
    }
}
