.economy {
    padding-bottom: 113px;
}
.economy__wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.economy__header {
    display: flex;
    margin-bottom: 53px;
    position: relative;
    background: url("../img/step.svg") top right no-repeat;
}

.economy__img {
    width: 23%;
    margin-right: 54px;
}

.economy__title {
    color: #515560;
    font-size: 53px;
    text-align: left;
    display: block;
    font-weight: 400;
    text-shadow: -2px 6px 0#e0e4f6;
    margin-left: 24px;
    & span {
        text-transform: none;
        font-size: 86px;
        display: block;
    }
}

.economy__text {
    display: block;
    width: 77%;
}

.economy__paragraph {
    color: #9ea8d9;
    font-family: "Glober Bold", Arial, Helvetica, sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    & span {
        display: block;
    }
    & span:first-child {
        text-align: right;
        color: #969ecc;
    }
    & span:nth-child(2){
        text-align: center;
        color: #6e7492;
    }
}
@media @tablet-widths {
    .economy {
        padding-bottom: 38px;
    }
    .economy__title {
        font-size: 36px;
       text-shadow: -1px 4px 0 #e0e4f6;
       margin-left: 16px;
       margin-top: 10px;
       margin-bottom: 40px;
       & span {
        text-transform: none;
        font-size: 58px;
        display: block;
    }
        }
        .economy__paragraph {
            font-size: 37px;
        }
        .economy__wrapper {
            max-width: 740px;
        }
        .economy__img {
            align-self: center;
            margin-bottom: 30px;
        }
        .economy__header {
            margin-bottom: 49px;
        }
    }
    @media @mobile-widths {
        .economy {
            padding-bottom: 22px;
        }
        .economy__wrapper {
            max-width: 100%;
        }
        .economy__title {
            font-size: 21px;
            & span {
                font-size: 34px;
            }
        }
        .economy__paragraph {
            font-size: 21px;
            width: 286px;
            margin: 0 auto;
        }
        }