.features {
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid #ffffff;
}
.features__wrapper {
    border-top: 25px solid #e8f0fa;
    border-bottom: 25px solid #e8f0fa;
}
.features__text {
    color: #aac2e8;
    font-family: "Glober";
    font-weight: 700;
    font-size: 43px;
    text-transform: uppercase;
    z-index: 10;
    &--second {
        color: #6878ad;
        font-family: "Glober";
        font-size: 99px;
        line-height: 1;
        & span {
            font-size: 65px;
            margin-left: -10px;
        }
    }
    &--third {
        font-size: 50px;
        margin-top: -10px;
    }
    &--large {
        font-size: 60px;
    }
}
.features__items {
    justify-content: space-between;
    position: relative;
    max-width: 1080px;
}
.features__item {
    background: #ffffff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.features__item--second {
    padding: 0;
        width: 497px;
        height: 497px;
        background: #e8f0fa;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 5px solid #ffffff;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        top: -130px;
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 95%;
            height: 95%;
            border-radius: 50%;
            background: #ffffff;
            left: 50%;
            right: 50%;
            transform: translateX(-50%);
        }
        &::after {
            border: 5px solid #e5eff9;
            width: 90%;
            height: 90%;
        }
}
@media @tablet-widths {
    .features {
        border-top: 8px solid #ffffff;
        border-bottom: 8px solid #ffffff;
    }
    .features__wrapper {
        border-top: 20px solid #e8f0fa;
        border-bottom: 20px solid #e8f0fa;
    }
    .features__text {
        font-size: 26px;
        line-height: normal;
        &--second {
            font-size: 61px;
            & span {
                font-size: 40px;
            }
        }
        &--third {
            font-size: 31px;
            margin-top: -5px;
        }
        &--large {
            font-size: 37px;
        }
    }
    .features__items {
        max-width: 715px;
    }
    .features__item {
        padding-top: 25px;
        padding-bottom: 15px;
        width: 200px;
    }
    .features__item--second {
        padding: 0;
        width: 306px;
        height: 306px;
        top: -80px;
    }

    
}
@media @mobile-widths {
    .features {
        border-top-width: 6px;
    }
    .features__items{
        max-width: 100%;
    }
    .features__item {
        width: 100%;
        &:first-child {
            margin-bottom: 247px;
            border-bottom: 20px solid #e8f0fa;
        }
        &:nth-child(3) {
            border-top: 20px solid #e8f0fa;
        }
        &--second {
            top: 50%;
            bottom: 50%;
            transform: translate(-50%, -50%);
            width: 306px;
        }
    }
    }