.function__header {
    margin-bottom: 53px;
}
.function__wrapper {
    background-color: #f3f4f9;
    &--second {
        background-color: #ffffff;
    }
    &--third {
        background-color: #ffffff;
        border-bottom: 9px solid #f6f7fa;
        padding-bottom: 54px;
        margin-top: 57px;
    }
}
.function__text {
    max-width: 1240px;
    margin: 0 auto;
    color: #6878ad;
    font-family: "Glober Bold";
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;
    & span {
        color: #3b4f66;
        display: block;
    }
    &--second {
        color: #777d91;
    }
}
@media @tablet-widths {
    .function__header {
        margin-top: 41px;
        margin-bottom: 32px;
    }
    .function__text {
        max-width: 740px;
        font-size: 29px;
        padding-top: 24px;
        padding-bottom: 24px;
        &--second {
            padding-top: 20px;
            font-size: 26px;
        }
    }
    .function__wrapper--third {
        margin-top: 14px;
    }
        }
