.garancy {
    margin-top: 141px;
}
.garancy__header {
    background-color: #ecf3fd;
    background: linear-gradient(to bottom, #ffffff, #ecf3fd);
    padding-bottom: 140px;
    border-bottom: 2px solid #dfeaf5;
}
.garancy__wrapper {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
}
.garancy__right {
    margin-left: 41px;
}
.garancy__img {
    min-width: 246px;
    height: auto;
    margin-right: 41px;
}
.garancy__img--second {
    width: 327px;
    height: auto;
    vertical-align: top;
    padding-top: 14px;
    margin-right: 0;
    margin-bottom: 46px;
}
.garancy__text {
color: #6878ad;
font-family: "Glober Bold";
font-size: 37px;
text-transform: uppercase;
& span {
    color: #3b4f66;
}
&--second {
    margin-top: 34px;
    color: #6878ad;
    & span {
        display: block;
    }
}
&--third {
    color: #6b859b;
    font-size: 27px;
}
&--footer {
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 121px;
    padding-bottom: 106px;
font-size: 34px;
text-align: center;
}
}
.garancy__feature {
color: #aac2e8;
font-family: "Glober Bold";
font-size: 43px;
line-height: 86.43px;
text-transform: uppercase;
}
.garancy__footer {
    background-color: #ecf3fd;
    background: linear-gradient(to bottom, #ecf3fd, #ffffff);
    border-top: 2px solid #dfeaf5;
}
@media @tablet-widths {
    .garancy {
        margin-top: 74px;
    }
    .garancy__wrapper {
        max-width: 740px;
    }
    .garancy__img {
        min-width: 151px;
        margin-right: 22px;
        &--second {
            width: 226px;
            margin-bottom: 27px;
        }
    }
    .garancy__text {
        font-size: 23px;
        &--second {
            margin-top: 20px;
        }
        &--third {
            font-size: 17px;
        }
    }
    .garancy__header {
        padding-bottom: 85px;
    }
    .garancy__text--footer {
        max-width: 740px;
        padding-top: 75px;
        padding-bottom: 66px;
        font-size: 21px;
    }
}
@media @mobile-widths {
   .garancy {
       margin-top: 49px;
   }
   .garancy__wrapper {
       max-width: 90%;
       display: block;
   }
   .garancy__img {
	min-width: auto;
	width: 100px;
}
   .garancy__img--second {
       width: 150px;
       margin-right: 0;
   }
   .garancy__right {
       margin-left: 0;
   }
   .garancy__left {
       float: left;
   }
   .garancy__text {
       clear: both;
   }
   .garancy__text--footer {
       font-size: 15px;
       text-align: center;
       max-width: 90%;
   }
    }