.header {
    margin-bottom: 65px;
    margin-top: 52px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.header__menu {
    .container-fluid();
    display: flex;
    justify-content: space-between;
}
.header__logo {
    width: 18%;
    height: 100%;
}
.header__nav {
    display: flex;
    align-items: center;
    width: 65%;
    align-self: center;
    
}
.header__form {
    width: 34%;
    margin-top: 15px;
}
.header__link {
    display: none;
}
.header__slide {
    margin-top: 40px;
}
@media @tablet-widths {
    .header {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .header__wrapper {
        margin-top: 43px;
    }
    .header__nav {
        width: 91%;
    }
    .header__logo {
        width: 28%;
    }
.header__form {
    display: none;
}
.header__link {
        display: block;
        color: #456575;
        font-family: "Glober";
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        width: 90px;
        padding: 6px;
        border: 3px solid #dce2f6;
        border-radius: 10px;
        align-self: center;
        box-sizing: border-box;
        margin-bottom: 11px;
        letter-spacing: 1.4px;
        padding-bottom: 5px;
        padding-left: 8px;
}
.header__slide {
    margin-top: 35px;
}
}
@media @mobile-widths {
    .header {
        margin-bottom: 24px;
    }
    .header__logo {
        width: auto;
    }
    .header__menu {
        display: block;
        text-align: center;
    }
        .header__nav {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: flex-start;
            max-width: 200px;
    }
    .header__link {
        margin: 0 auto;
    }
    }


