.header {
    margin-bottom: 65px;
    margin-top: 52px;
}
.header__menu {
    .container-fluid();
    display: flex;
    margin-top: 52px;
    justify-content: space-between;
}
.header__logo {
    width: 18%;
    height: 100%;
}
.header__nav {
    display: flex;
    align-items: center;
    width: 50%;
    align-self: flex-end;
    
}
.header__form {
    width: 27%;
}
.header__link {
    display: none;
}
.header__slide {
    margin-top: 72px;
}
@media @tablet-widths {
.header__form {
    display: none;
}
.header__link {
    display: block;
    color: #456575;
font-family: "Glober Semi Bold";
font-size: 13px;
text-transform: uppercase;
width: 100px;
padding: 11px;
border: 5px solid #dce2f6;
border-radius: 10px;
align-self: flex-end;
box-sizing: border-box;
}

}
@media @mobile-widths {
    .header {
        margin-bottom: 24px;
    }
    .header__logo {
        width: auto;
    }
    .header__menu {
        display: block;
        text-align: center;
    }
        .header__nav {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: flex-start;
            max-width: 200px;
    }
    .header__link {
        margin: 0 auto;
    }
    }


