.nav__item {
    font-size: 0;
    padding-left: 33px;
    position: relative;
    margin-right: 16px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 70px;
        width: 20px;
        background: url("../img/border.svg") center center no-repeat;
        left: 0;
        top: 50%;
        background-size: contain;
        bottom: 50%;
        transform: translateY(-50%);
    }
    &:first-child {
            width: 31%;
    }
    &:nth-child(2) {
            width: 14%;
        }
        &:nth-child(3) {
                width: 24%;
                margin-left: 22px;
        }
}
@media @tablet-widths {
    .nav__item {
        padding-left: 30px;
        margin-right: 0;
        &::after {
            height: 60px;
        }
        &:first-child {
                width: 32%;
        }
        &:nth-child(2) {
                width: 15%;
                margin-left: 8px;
            }
            &:nth-child(3) {
                    width: 24%;
                    margin-left: 20px;
            }
    }
}
@media @mobile-widths {
    .nav__item {
        margin: 20px 0;
    }
}