.slide__top {
    .container-fluid();
    position: relative;
}

.slide__img {
    margin-left: 50px;
}

.slide__title {
    position: absolute;
    bottom: 28px;
    color: #9fa7cc;
    background: linear-gradient(to right, #7783bc, #9fa7cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}

.slide__title span {
    color: #7783bc;
}

.slide__wrapper {
    width: 100%;
    background-color: #eff1f7;
    background: linear-gradient(to right, #ffffff, #eff1f7);
    padding-top: 28px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.slide__text {
    color: #000000;
    font-size: 38px;
    text-transform: uppercase;
    .container-fluid();
    &--first {
        font-size: 43px;
    }
    &--second {
        font-size: 38px;
        font-family: "Glober Bold", Arial, Helvetica, sans-serif;
        color: #727eb4;
        background: linear-gradient(to right, #737fbe, #727eb4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: table;
        margin-bottom: 7px;
    }
    &--third {
        color: #113653;
        margin-bottom: 35px;
    }
}
.slide__bottom {
    .container-fluid();
    display: flex;
    justify-content: flex-start;
}
.slide__feature {
    width: 34%;
    font-size: 22px;
    color: #686c84;
    margin-right: 25px;
}
.slide__tag {
    width: 15%;
    font-size: 18px;
    font-family: "Glober Bold";
    color: #828699;
    border: 1px solid #dbdde1;
    padding: 14px 29px 15px 22px;
    position: relative;
    &::before {
            content: '';
            position: absolute;
            left: 4px;
            top: 4px;
            border-bottom: 20px solid #ffffff;
            border-left: 20px solid #dbdde1;
        }
    &::after {
        border-left: 1px solid #dbdde1;
        width: 50px;
        height: 30px;
        content: '';
        position: absolute;
        transform: rotate(50deg);
        right: -31px;
        bottom: -25px;
        background: #ffffff;
      }
}
.slide__counter {
    font-size: 23px;
    color: #3a3a3a;
    &--second {
        font-size: 26px;
    }
}
@media @tablet-widths {
    .slide__img {
        max-width: 640px;
        display: block;
        margin: 0 auto;
    }
    .slide__text {
        font-size: 40px;
        &--second,
        &--third {
            font-size: 38px;
        }
    }
    .slide__feature {
        font-size: 19px;
        width: 45%;
    }
    .slide__tag {
        width: 18%;
        font-size: 14px;
        padding: 10px 22px 11px 16px;
        &::before {
            border-bottom: 10px solid #ffffff;
            border-left: 10px solid #dbdde1;
        }
    &::after {
        border-left: 1px solid #dbdde1;
        width: 50px;
        height: 30px;
        content: '';
        position: absolute;
        transform: rotate(50deg);
        right: -31px;
        bottom: -25px;
        background: #ffffff;
      }
    }
    .slide__counter {
        font-size: 17px;
        color: #3a3a3a;
        &--second {
            font-size: 20px;
        }
    }
    }
    @media @mobile-widths {
        .slide__img {
            max-width: 90%;
        }
        .slide__title {
            position: static;
        }
        .slide__text {
            font-size: 25px;
            &--second {
                margin-bottom: 10px;
            }
            &--second,
            &--third {
            font-size: 24px;
            & span {
                font-size: 15px;
                display: block;
            }
        }
        }
        .slide__wrapper {
            padding-top: 14px;
            padding-bottom: 14px;
            margin-bottom: 13px;
        }
        .slide__feature {
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
        }
        .slide__bottom {
            flex-direction: column;
        }
        .slide__tag {
            width: 172px;
            box-sizing: border-box;
        }
        .slide__text--third {
            margin-bottom: 18px;
        }
        }
        