@font-face {
  font-weight: normal;
  font-family: "Glober";
  font-style: normal;
  src: url("../fonts/glober.ttf") format("truetype");
}
@font-face {
  font-weight: 100;
  font-family: "Glober Thin";
  font-style: normal;
  src: url("../fonts/globerthin.otf") format("otf"), url("../fonts/globerthin.ttf") format("truetype");
}
@font-face {
  font-weight: 600;
  font-family: "Glober Semi Bold";
  font-style: normal;
  src: url("../fonts/globersemibold.otf") format("otf"), url("../fonts/globersemibold.ttf") format("truetype");
}
@font-face {
  font-weight: 700;
  font-family: "Glober Bold";
  font-style: normal;
  src: url("../fonts/globerbold.ttf") format("truetype"), url("../fonts/globerbold.otf") format("otf");
}
@font-face {
  font-family: "Myriad Pro";
  src: url('../fonts/myriadproregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 19px;
  line-height: normal;
  font-family: "Glober", "Arial", sans-serif;
  color: #222533;
  font-style: normal;
  background-color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 50px;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 59px;
  line-height: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Glober Bold", "Arial", sans-serif;
  margin: 0;
}
h2 {
  font-size: 53px;
  line-height: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Glober Bold", "Arial", sans-serif;
}
h3 {
  font-size: 37px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Glober Bold", "Arial", sans-serif;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
input,
textarea {
  outline: none;
}
.header {
  margin-bottom: 65px;
}
.header__menu {
  width: 100%;
  max-width: 1095px;
  margin: 0 auto;
  display: flex;
  margin-top: 52px;
  justify-content: space-between;
}
.header__logo {
  width: 18%;
  height: 100%;
}
.header__nav {
  display: flex;
  align-items: center;
  width: 50%;
  align-self: flex-end;
}
.header__form {
  width: 27%;
}
.header__slide {
  margin-top: 72px;
}
.nav__items {
  font-size: 0;
  margin-left: 20px;
  padding-left: 25px;
  position: relative;
}
.nav__items::after {
  content: '';
  display: block;
  position: absolute;
  height: 70px;
  width: 10px;
  background: url("../img/border.svg") center center no-repeat;
  left: 0;
  top: 50%;
  background-size: contain;
  bottom: 50%;
  transform: translateY(-50%);
}
.form {
  display: flex;
  flex-direction: column;
}
.form__label {
  color: #6c8bd4;
  font-family: "Glober Semi Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 29.51px;
}
.form__input {
  border: 3px solid #ced4ea;
  border-radius: 10px;
  padding: 10px;
  color: #ced4ea;
  font-family: "Myriad Pro";
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.form__button {
  color: #000000;
  font-family: "Glober";
  font-size: 18px;
  background-color: #d0d8f3;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  outline: none;
  align-self: flex-start;
}
.slide__top {
  width: 100%;
  max-width: 1095px;
  margin: 0 auto;
  position: relative;
}
.slide__img {
  margin-left: 50px;
}
.slide__title {
  position: absolute;
  bottom: 28px;
  color: #9fa7cc;
  background: linear-gradient(to right, #7783bc, #9fa7cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}
.slide__title span {
  color: #7783bc;
}
.slide__wrapper {
  width: 100%;
  background-color: #eff1f7;
  background: linear-gradient(to right, #ffffff, #eff1f7);
  padding-top: 28px;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.slide__text {
  color: #000000;
  font-size: 38px;
  text-transform: uppercase;
  width: 100%;
  max-width: 1095px;
  margin: 0 auto;
}
.slide__text--first {
  font-size: 43px;
}
.slide__text--second {
  font-size: 38px;
  font-family: "Glober Bold", Arial, Helvetica, sans-serif;
  color: #727eb4;
  background: linear-gradient(to right, #737fbe, #727eb4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin-bottom: 7px;
}
.slide__text--third {
  color: #113653;
  margin-bottom: 35px;
}
.slide__bottom {
  width: 100%;
  max-width: 1095px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}
.slide__feature {
  width: 34%;
  font-size: 22px;
  color: #686c84;
  margin-right: 25px;
}
.slide__tag {
  width: 15%;
  font-size: 18px;
  font-family: "Glober Bold";
  color: #828699;
  border: 1px solid #dbdde1;
  padding: 14px 29px 15px 22px;
  position: relative;
}
.slide__tag::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  border-bottom: 20px solid #ffffff;
  border-left: 20px solid #dbdde1;
}
.slide__tag::after {
  border-left: 1px solid #dbdde1;
  width: 50px;
  height: 30px;
  content: '';
  position: absolute;
  transform: rotate(50deg);
  right: -31px;
  bottom: -25px;
  background: #ffffff;
}
.slide__counter {
  font-size: 23px;
  color: #3a3a3a;
}
.slide__counter--second {
  font-size: 26px;
}
main {
  position: relative;
}
.we-can {
  width: 100%;
  max-width: 1095px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 125px;
}
.we-can__list {
  border: 5px solid #e0e0e0;
  padding-top: 36px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border-radius: 20px;
  color: #000000;
  padding-bottom: 60px;
}
.we-can__term {
  font-size: 35px;
  padding-bottom: 25px;
}
.we-can__definition {
  font-size: 26px;
  margin-left: -35px;
  max-width: 973px;
  position: relative;
  z-index: 2;
  display: block;
  text-align: left;
}
.we-can__definition p {
  padding-top: 35px;
  padding-bottom: 35px;
  line-height: 29.51px;
}
.we-can__definition::before {
  content: '';
  display: block;
  position: absolute;
  width: 150vw;
  height: 100%;
  background-color: #e7ecff;
  background: linear-gradient(to right, #f8faff, #e7ecff);
  z-index: -1;
  left: -50vw;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  box-sizing: border-box;
}
.we-can__definition--second::before {
  content: '';
  display: none;
}
.we-can__more {
  color: #151a28;
  font-family: "Glober";
  font-size: 30px;
  max-width: 638px;
  width: 58%;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 15px;
  background-color: #d8e1ff;
  display: block;
  border-radius: 20px;
  position: absolute;
  bottom: -35px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  border: 10px solid #ffffff;
  z-index: 2;
}
.we-can__more span {
  font-family: "Glober Bold";
  font-weight: 700;
}
.economy {
  padding-bottom: 113px;
}
.economy__wrapper {
  max-width: 1240px;
  margin: 0 auto;
}
.economy__header {
  display: flex;
  margin-bottom: 53px;
  position: relative;
  background: url("../img/step.svg") top right no-repeat;
}
.economy__img {
  width: 23%;
  margin-right: 54px;
}
.economy__title {
  color: #515560;
  font-size: 53px;
  text-align: left;
  display: block;
  font-weight: 400;
  text-shadow: -2px 6px 0 #e0e4f6;
  margin-left: 24px;
}
.economy__title span {
  text-transform: none;
  font-size: 86px;
  display: block;
}
.economy__text {
  display: block;
  width: 77%;
}
.economy__paragraph {
  color: #9ea8d9;
  font-family: "Glober Bold", Arial, Helvetica, sans-serif;
  font-size: 55px;
  text-transform: uppercase;
}
.economy__paragraph span {
  display: block;
}
.economy__paragraph span:first-child {
  text-align: right;
  color: #969ecc;
}
.economy__paragraph span:nth-child(2) {
  text-align: center;
  color: #6e7492;
}
.accordeon {
  display: flex;
  justify-content: space-between;
}
.accordeon__column {
  width: 48%;
}
.accordeon__item {
  position: relative;
}
.accordeon__input {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.accordeon__input:checked ~ .accordeon__text {
  max-height: 0;
  padding: 0;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.accordeon__input:checked ~ .accordeon__header::before {
  transform: rotate(0);
  top: 25px;
  transition: all 0.25s ease-in-out;
}
.accordeon__header {
  color: #141414;
  font-family: "Glober Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26.23px;
  text-transform: uppercase;
  background-color: #ebf0fe;
  padding-top: 22px;
  padding-bottom: 19px;
  background: linear-gradient(to right, #ebf0fe, #f8f9fb);
  padding-left: 71px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 22px;
}
.accordeon__header span {
  color: #5c6cb5;
}
.accordeon__header::before {
  content: '';
  position: absolute;
  display: block;
  left: 25px;
  top: 25px;
  bottom: 50%;
  transform: rotate(180deg);
  width: 30px;
  height: 15px;
  background: url("../img/arrow.svg") center center no-repeat;
  transition: all 0.25s ease-in-out;
}
.accordeon__text {
  color: #3f434f;
  font-size: 16px;
  padding-bottom: 22px;
  transition: all 0.25s ease-in-out;
}
.section-form {
  background-color: #f0f1f5;
  background: linear-gradient(to bottom, #f0f1f5, #f6f7f9);
  border-top: 12px solid #f4f5fa;
  border-bottom: 12px solid #f4f5fa;
}
.section-form__container {
  border-top: 9px solid #ffffff;
  border-bottom: 9px solid #ffffff;
}
.section-form__wrapper {
  width: 100%;
  max-width: 1095px;
  margin: 0 auto;
  padding-top: 95px;
  padding-bottom: 95px;
}
.section-form__title {
  color: #3e4460;
}
.section-form__form {
  flex-direction: row;
  align-items: center;
}
.form__label--section-form {
  font-size: 26px;
  color: #636781;
}
.form__input--section-form {
  width: 399px;
  font-size: 41px;
  padding: 19px 28px 12px 28px;
  color: #575e83;
  border: 5px solid #575e83;
  margin: 0;
  box-sizing: border-box;
  margin-left: 24px;
  margin-right: 24px;
}
.form__button--section-form {
  font-size: 26px;
  padding: 24px;
  background-color: #c4cbe9;
  background: linear-gradient(to bottom, #dbdfed, #c3cbe9);
}
.function-title {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.function-title__more {
  color: #616b9b;
  font-family: "Glober Bold", Arial, Helvetica, sans-serif;
  font-size: 43px;
  text-transform: uppercase;
  align-self: center;
}
.function-title__title {
  color: #7c91c4;
  font-size: 47px;
  width: 186px;
  text-transform: none;
  align-self: flex-end;
  margin: 0;
}
.function-title__title span {
  font-size: 143px;
  line-height: 80px;
}
.function-title__gravitel {
  width: 355px;
  color: #616b9b;
  font-family: "Glober Bold";
  line-height: 62.55px;
  text-transform: uppercase;
  font-size: 76px;
  align-self: flex-end;
}
.function-title__gravitel span {
  color: #3b4f66;
  display: block;
}
.function__header {
  margin-bottom: 53px;
}
.function__wrapper {
  background-color: #f3f4f9;
}
.function__wrapper--second {
  background-color: #ffffff;
}
.function__wrapper--third {
  background-color: #ffffff;
  border-bottom: 9px solid #f6f7fa;
  padding-bottom: 54px;
}
.function__text {
  max-width: 1240px;
  margin: 0 auto;
  color: #6878ad;
  font-family: "Glober Bold";
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
}
.function__text span {
  color: #3b4f66;
  display: block;
}
.function__text--second {
  color: #777d91;
}
.function__img {
  position: relative;
  top: 100px;
}
.slider {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 57px;
}
.slider__img {
  height: 100%;
  text-align: center;
}
.slider__item {
  width: auto;
  max-width: 320px;
}
.slider__hexagon {
  margin: 0 auto;
  width: 55px;
  height: 100px;
  background: #5687ae;
  position: relative;
}
.slider__hexagon::before,
.slider__hexagon::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
.slider__hexagon::before {
  right: -25px;
  border-left: 25px solid #5687ae;
}
.slider__hexagon::after {
  left: -25px;
  border-right: 25px solid #5687ae;
}
.slider__wrapper {
  padding: 0 20px;
  background-color: #d2eefd;
  border-radius: 20px;
}
.slider__term {
  color: #222533;
  font-family: "Glober Semi Bold";
  font-size: 30px;
  padding: 20px 30px;
  background-color: #f5f7ff;
  border-radius: 20px;
}
.slider__controls {
  width: 100%;
}
.slider__list {
  margin-top: 10px;
  margin-left: 15px;
}
.slider__list-item {
  color: #222533;
  font-family: "Glober";
  font-size: 19px;
  line-height: 29.5px;
  position: relative;
  padding-left: 17px;
}
.slider__list-item::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: #93abff;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0;
}
.slider__control {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 14px;
}
.swiper-button-next,
.swiper-button-prev {
  position: static;
  background-image: none;
  width: 170px;
  height: 109px;
  position: relative;
  padding-top: 25px;
  color: #5a5e68;
  font-family: "Glober Semi Bold";
  font-size: 24px;
  margin-top: 0;
  box-sizing: border-box;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
  width: 55px;
  height: 109px;
  display: block;
  position: absolute;
  top: 0;
}
.swiper-button-next {
  padding-right: 75px;
  text-align: right;
}
.swiper-button-next:after {
  background: url(../img/arrow-right.svg) center center no-repeat;
  right: 0;
}
.swiper-button-prev {
  padding-left: 75px;
}
.swiper-button-prev:after {
  background: url(../img/arrow-left.svg) center center no-repeat;
  left: 0;
}
.swiper-pagination {
  position: static;
  position: relative;
  align-self: center;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  background: #d2d9f3;
  opacity: 1;
  margin-left: 7px;
  margin-right: 7px;
  z-index: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative;
  z-index: 8;
  width: 128px;
  height: 58px;
  background: url('../img/pagination.svg');
  border-radius: 0;
  top: 10px;
}
.garancy {
  margin-top: 141px;
}
.garancy__header {
  background-color: #ecf3fd;
  background: linear-gradient(to bottom, #ffffff, #ecf3fd);
  padding-bottom: 140px;
  border-bottom: 2px solid #dfeaf5;
}
.garancy__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.garancy__right {
  margin-left: 41px;
}
.garancy__img {
  min-width: 246px;
  height: auto;
  margin-right: 41px;
}
.garancy__img--second {
  width: 327px;
  height: auto;
  vertical-align: top;
  padding-top: 14px;
  margin-right: 0;
  margin-bottom: 46px;
}
.garancy__text {
  color: #6878ad;
  font-family: "Glober Bold";
  font-size: 37px;
  text-transform: uppercase;
}
.garancy__text span {
  color: #3b4f66;
}
.garancy__text--second {
  margin-top: 34px;
  color: #6878ad;
}
.garancy__text--second span {
  display: block;
}
.garancy__text--third {
  color: #6b859b;
  font-size: 27px;
}
.garancy__text--footer {
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 121px;
  padding-bottom: 106px;
  font-size: 34px;
  text-align: center;
}
.garancy__feature {
  color: #aac2e8;
  font-family: "Glober Bold";
  font-size: 43px;
  line-height: 86.43px;
  text-transform: uppercase;
}
.garancy__footer {
  background-color: #ecf3fd;
  background: linear-gradient(to bottom, #ecf3fd, #ffffff);
  border-top: 2px solid #dfeaf5;
}
.features {
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
}
.features__wrapper {
  border-top: 25px solid #e8f0fa;
  border-bottom: 25px solid #e8f0fa;
}
.features__text {
  color: #aac2e8;
  font-family: "Glober Bold";
  font-size: 43px;
  line-height: 86.43px;
  text-transform: uppercase;
  z-index: 10;
}
.features__text--second {
  color: #6878ad;
  font-family: "Glober Bold";
  font-size: 99px;
}
.features__text--second span {
  font-size: 65px;
}
.features__text--third {
  font-size: 50px;
}
.features__text--large {
  font-size: 60px;
}
.features__items {
  justify-content: space-between;
  position: relative;
}
.features__item {
  background: #ffffff;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
}
.features__item--second {
  padding: 0;
  width: 497px;
  height: 497px;
  background: #e8f0fa;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #ffffff;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  top: -75px;
}
.features__item--second::before,
.features__item--second::after {
  content: "";
  display: block;
  position: absolute;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background: #ffffff;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
.features__item--second::after {
  border: 5px solid #e5eff9;
  width: 90%;
  height: 90%;
}
