@font-face {
  font-weight: normal;
  font-family: "Glober";
  font-style: normal;
  src: url("../fonts/glober.ttf") format("truetype");
}
@font-face {
  font-weight: 100;
  font-family: "Glober";
  font-style: normal;
  src: url("../fonts/globerthin.otf") format("otf"), url("../fonts/globerthin.ttf") format("truetype");
}
@font-face {
  font-weight: 600;
  font-family: "Glober";
  font-style: normal;
  src: url("../fonts/globersemibold.otf") format("otf"), url("../fonts/globersemibold.ttf") format("truetype");
}
@font-face {
  font-weight: 700;
  font-family: "Glober";
  font-style: normal;
  src: url("../fonts/globerbold.ttf") format("truetype"), url("../fonts/globerbold.otf") format("otf");
}
@font-face {
  font-family: "Myriad Pro";
  src: url('../fonts/myriadproregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 19px;
  line-height: normal;
  font-family: "Glober", "Arial", sans-serif;
  color: #222533;
  font-style: normal;
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 50px;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 59px;
  line-height: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Glober", "Arial", sans-serif;
  margin: 0;
}
h2 {
  font-size: 53px;
  line-height: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Glober", "Arial", sans-serif;
}
h3 {
  font-size: 37px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Glober", "Arial", sans-serif;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
input,
textarea {
  outline: none;
}
@media (max-width: 1279px) {
  h3 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 38px;
  }
  h3 {
    font-size: 18px;
  }
}
.header {
  margin-bottom: 65px;
  margin-top: 52px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.header__menu {
  width: 100%;
  max-width: 1105px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .header__menu {
    max-width: 710px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    max-width: 90%;
  }
}
.header__logo {
  width: 18%;
  height: 100%;
}
.header__nav {
  display: flex;
  align-items: center;
  width: 65%;
  align-self: center;
}
.header__form {
  width: 34%;
  margin-top: 15px;
}
.header__link {
  display: none;
}
.header__slide {
  margin-top: 40px;
}
@media (max-width: 1279px) {
  .header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .header__wrapper {
    margin-top: 43px;
  }
  .header__nav {
    width: 91%;
  }
  .header__logo {
    width: 28%;
  }
  .header__form {
    display: none;
  }
  .header__link {
    display: block;
    color: #456575;
    font-family: "Glober";
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    width: 90px;
    padding: 6px;
    border: 3px solid #dce2f6;
    border-radius: 10px;
    align-self: center;
    box-sizing: border-box;
    margin-bottom: 11px;
    letter-spacing: 1.4px;
    padding-bottom: 5px;
    padding-left: 8px;
  }
  .header__slide {
    margin-top: 35px;
  }
}
@media (max-width: 767px) {
  .header {
    margin-bottom: 24px;
  }
  .header__logo {
    width: auto;
  }
  .header__menu {
    display: block;
    text-align: center;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    max-width: 200px;
  }
  .header__link {
    margin: 0 auto;
  }
}
.nav__item {
  font-size: 0;
  padding-left: 33px;
  position: relative;
  margin-right: 16px;
}
.nav__item::after {
  content: '';
  display: block;
  position: absolute;
  height: 70px;
  width: 20px;
  background: url("../img/border.svg") center center no-repeat;
  left: 0;
  top: 50%;
  background-size: contain;
  bottom: 50%;
  transform: translateY(-50%);
}
.nav__item:first-child {
  width: 31%;
}
.nav__item:nth-child(2) {
  width: 14%;
}
.nav__item:nth-child(3) {
  width: 24%;
  margin-left: 22px;
}
@media (max-width: 1279px) {
  .nav__item {
    padding-left: 30px;
    margin-right: 0;
  }
  .nav__item::after {
    height: 60px;
  }
  .nav__item:first-child {
    width: 32%;
  }
  .nav__item:nth-child(2) {
    width: 15%;
    margin-left: 8px;
  }
  .nav__item:nth-child(3) {
    width: 24%;
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .nav__item {
    margin: 20px 0;
  }
}
.form {
  display: flex;
  flex-direction: column;
}
.form__label {
  color: #6c8bd4;
  font-family: "Glober";
  font-size: 18px;
  font-weight: 600;
  line-height: 29.51px;
  letter-spacing: 0.97px;
  margin-left: 15px;
}
.form__input {
  border: 3px solid #ced4ea;
  border-radius: 10px;
  padding: 7px;
  color: #ced4ea;
  font-family: "Myriad Pro";
  font-size: 22px;
  margin-top: 3px;
  margin-bottom: 15px;
}
.form__button {
  color: #000000;
  font-family: "Glober";
  font-size: 18px;
  background-color: #d0d8f3;
  padding: 8px 20px;
  border-radius: 10px;
  border: 0;
  outline: none;
  align-self: flex-start;
  letter-spacing: 0.97px;
}
.slide__top {
  width: 100%;
  max-width: 1105px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1279px) {
  .slide__top {
    max-width: 710px;
  }
}
@media (max-width: 767px) {
  .slide__top {
    max-width: 90%;
  }
}
.slide__img {
  margin-left: 55px;
}
.slide__title {
  position: absolute;
  bottom: 0;
  color: #9fa7cc;
  background: linear-gradient(to right, #7783bc, #9fa7cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}
.slide__title span {
  color: #7783bc;
}
.slide__wrapper {
  width: 100%;
  background-color: #eff1f7;
  background: linear-gradient(to right, #ffffff, #eff1f7);
  padding-top: 22px;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.slide__text {
  color: #000000;
  font-size: 38px;
  text-transform: uppercase;
  width: 100%;
  max-width: 1105px;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .slide__text {
    max-width: 710px;
  }
}
@media (max-width: 767px) {
  .slide__text {
    max-width: 90%;
  }
}
.slide__text--first {
  font-size: 43px;
}
.slide__text--second {
  font-size: 38px;
  font-family: "Glober", Arial, Helvetica, sans-serif;
  color: #727eb4;
  background: linear-gradient(to right, #737fbe, #727eb4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin-bottom: 7px;
  font-weight: 700;
}
.slide__text--third {
  color: #113653;
  margin-bottom: 15px;
  font-weight: 700;
}
.slide__bottom {
  width: 100%;
  max-width: 1105px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1279px) {
  .slide__bottom {
    max-width: 710px;
  }
}
@media (max-width: 767px) {
  .slide__bottom {
    max-width: 90%;
  }
}
.slide__feature {
  width: 34%;
  font-size: 22px;
  color: #686c84;
  margin-right: 27px;
}
.slide__tag {
  width: 16%;
  font-size: 18px;
  font-family: "Glober";
  color: #828699;
  border: 1px solid #dbdde1;
  padding: 10px 29px 0px 22px;
  position: relative;
  font-weight: 700;
}
.slide__tag::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid #dbdde1;
}
.slide__tag::after {
  border-left: 1px solid #dbdde1;
  width: 50px;
  height: 30px;
  content: '';
  position: absolute;
  transform: rotate(50deg);
  right: -31px;
  bottom: -25px;
  background: #ffffff;
}
.slide__counter {
  font-size: 23px;
  color: #3a3a3a;
  font-weight: 700;
}
.slide__counter--second {
  font-size: 26px;
}
@media (max-width: 1279px) {
  .slide__top {
    max-width: 690px;
  }
  .slide__img {
    max-width: 635px;
    display: block;
  }
  .slide__wrapper {
    padding-top: 25px;
    margin-bottom: 20px;
  }
  .slide__text {
    font-size: 40px;
    max-width: 700px;
    padding-left: 15px;
  }
  .slide__text--second,
  .slide__text--third {
    font-size: 38px;
  }
  .slide__text--second {
    margin-bottom: 0;
  }
  .slide__feature {
    font-size: 19px;
    width: 50%;
    letter-spacing: 1.02px;
    margin-right: 10px;
  }
  .slide__tag {
    width: 19%;
    font-size: 14px;
    padding: 5px 22px 5px 16px;
  }
  .slide__tag::before {
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid #dbdde1;
  }
  .slide__tag::after {
    border-left: 1px solid #dbdde1;
    width: 50px;
    height: 30px;
    content: '';
    position: absolute;
    transform: rotate(50deg);
    right: -31px;
    bottom: -25px;
    background: #ffffff;
  }
  .slide__counter {
    font-size: 17px;
    color: #3a3a3a;
  }
  .slide__counter--second {
    font-size: 20px;
  }
  .slide__bottom {
    max-width: 680px;
  }
}
@media (max-width: 767px) {
  .slide__img {
    max-width: 90%;
  }
  .slide__title {
    position: static;
  }
  .slide__text {
    font-size: 25px;
  }
  .slide__text--second {
    margin-bottom: 10px;
  }
  .slide__text--second,
  .slide__text--third {
    font-size: 24px;
  }
  .slide__text--second span,
  .slide__text--third span {
    font-size: 15px;
    display: block;
  }
  .slide__wrapper {
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 13px;
  }
  .slide__feature {
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
  }
  .slide__bottom {
    flex-direction: column;
  }
  .slide__tag {
    width: 172px;
    box-sizing: border-box;
  }
  .slide__text--third {
    margin-bottom: 18px;
  }
}
main {
  position: relative;
}
.we-can {
  width: 100%;
  max-width: 1105px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 70px;
}
@media (max-width: 1279px) {
  .we-can {
    max-width: 710px;
  }
}
@media (max-width: 767px) {
  .we-can {
    max-width: 90%;
  }
}
.we-can__list {
  border: 6px solid #e0e0e0;
  padding-top: 30px;
  text-align: center;
  border-radius: 40px;
  color: #000000;
  padding-bottom: 60px;
  width: 91.5%;
}
.we-can__term {
  font-size: 35px;
  padding-bottom: 10px;
  letter-spacing: 1.9px;
}
.we-can__definition {
  font-size: 26px;
  margin-left: 0;
  max-width: 973px;
  position: relative;
  z-index: 2;
  display: block;
  text-align: left;
}
.we-can__definition p {
  padding-top: 40px;
  padding-bottom: 30px;
  line-height: 29.51px;
}
.we-can__definition::before {
  content: '';
  display: block;
  position: absolute;
  width: 150vw;
  height: 100%;
  background-color: #e7ecff;
  background: linear-gradient(to right, #f8faff, #e7ecff);
  z-index: -1;
  left: -50vw;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  box-sizing: border-box;
}
.we-can__definition--second {
  text-align: center;
  color: #374f93;
}
.we-can__definition--second::before {
  display: none;
}
.we-can__definition--second p {
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 1.38px;
}
.we-can__more {
  color: #151a28;
  font-family: "Glober";
  font-size: 30px;
  max-width: 638px;
  width: 58%;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 15px;
  background-color: #d8e1ff;
  display: block;
  border-radius: 20px;
  position: absolute;
  bottom: -35px;
  left: 46%;
  right: 50%;
  transform: translateX(-50%);
  border: 10px solid #ffffff;
  z-index: 2;
  letter-spacing: 1.61px;
}
.we-can__more span {
  font-family: "Glober", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
@media (max-width: 1279px) {
  .we-can {
    margin-bottom: 45px;
  }
  .we-can__term {
    font-size: 24px;
    padding-bottom: 8px;
    letter-spacing: 1.28px;
  }
  .we-can__definition {
    font-size: 17px;
  }
  .we-can__definition p {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 19.89px;
    letter-spacing: 0.93px;
  }
  .we-can__definition--second p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .we-can__more {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: -30px;
    width: 60%;
    left: 49%;
  }
  .we-can__list {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 96%;
    border-radius: 30px;
    border-width: 5px;
  }
}
@media (max-width: 767px) {
  .we-can__list {
    padding-top: 19px;
  }
  .we-can__term {
    font-size: 17px;
    text-align: left;
    padding-left: 18px;
    padding-right: 18px;
  }
  .we-can__definition {
    font-size: 13px;
  }
  .we-can__definition:before {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
  }
  .we-can__definition p {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .we-can__definition--second {
    text-align: left;
  }
  .we-can__definition--second::before {
    display: block;
    background: #ffffff;
    border: 0;
  }
  .we-can__more {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 8px;
    border-width: 4px;
    border-radius: 10px;
    bottom: -20px;
  }
}
.economy {
  padding-bottom: 60px;
}
.economy__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.economy__header {
  display: flex;
  margin-bottom: 50px;
  position: relative;
  background: url("../img/step.svg") top right no-repeat;
}
.economy__img {
  width: 21%;
  margin-right: 54px;
  margin-left: 35px;
}
.economy__title {
  color: #515560;
  font-size: 53px;
  text-align: left;
  display: block;
  text-shadow: -2px 6px 0 #e0e4f6;
  margin-left: 30px;
  margin-top: 70px;
  margin-bottom: 60px;
}
.economy__title span {
  text-transform: none;
  font-size: 86px;
  display: block;
  line-height: 80px;
}
.economy__text {
  display: block;
  width: 70%;
}
.economy__paragraph {
  color: #9ea8d9;
  font-family: "Glober", Arial, Helvetica, sans-serif;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 700;
  width: 89%;
  line-height: 55px;
}
.economy__paragraph span {
  display: block;
}
.economy__paragraph span:first-child {
  text-align: right;
  color: #969ecc;
}
.economy__paragraph span:nth-child(2) {
  text-align: center;
  color: #6e7492;
}
@media (max-width: 1279px) {
  .economy {
    padding-bottom: 15px;
  }
  .economy__title {
    font-size: 36px;
    text-shadow: -1px 4px 0 #e0e4f6;
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 35px;
  }
  .economy__title span {
    text-transform: none;
    font-size: 58px;
    display: block;
    line-height: 58px;
  }
  .economy__paragraph {
    font-size: 37px;
    line-height: 40px;
    width: 97%;
  }
  .economy__wrapper {
    max-width: 750px;
  }
  .economy__header {
    background-size: contain;
    background-position-y: 75%;
    margin-bottom: 45px;
  }
  .economy__img {
    align-self: center;
    margin-top: 15px;
    width: 25%;
    margin-right: 35px;
    margin-left: 0;
  }
  .economy__header {
    margin-bottom: 45px;
  }
  .economy__text {
    width: 70%;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .economy {
    padding-bottom: 22px;
  }
  .economy__wrapper {
    max-width: 100%;
  }
  .economy__title {
    font-size: 21px;
  }
  .economy__title span {
    font-size: 34px;
  }
  .economy__paragraph {
    font-size: 21px;
    width: 286px;
    margin: 0 auto;
  }
}
.accordeon {
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto;
}
.accordeon__column {
  width: 49%;
}
.accordeon__item {
  position: relative;
}
.accordeon__input {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.accordeon__input:checked ~ .accordeon__text {
  max-height: 0;
  padding: 0;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.accordeon__input:checked ~ .accordeon__header::before {
  transform: rotate(0);
  top: 25px;
  transition: all 0.25s ease-in-out;
}
.accordeon__header {
  color: #141414;
  font-family: "Glober", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26.23px;
  text-transform: uppercase;
  background-color: #ebf0fe;
  padding-top: 22px;
  padding-bottom: 19px;
  background: linear-gradient(to right, #ebf0fe, #f8f9fb);
  padding-left: 71px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 22px;
}
.accordeon__header span {
  color: #5c6cb5;
}
.accordeon__header::before {
  content: '';
  position: absolute;
  display: block;
  left: 25px;
  top: 25px;
  transform: rotate(180deg);
  width: 25px;
  height: 13px;
  background: url("../img/arrow.svg") center center no-repeat;
  transition: all 0.25s ease-in-out;
  background-size: cover;
}
.accordeon__text {
  color: #3f434f;
  font-size: 16px;
  padding-bottom: 22px;
  transition: all 0.25s ease-in-out;
  max-height: none;
  width: 98%;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .accordeon {
    display: block;
    width: 91%;
  }
  .accordeon__column {
    width: 98%;
  }
  .accordeon__header {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
  }
  .accordeon__header::before {
    width: 21px;
    height: 12px;
    left: 23px;
    top: 20px;
  }
  .accordeon__input:checked ~ .accordeon__header::before {
    top: 20px;
  }
  .accordeon__text {
    width: 96%;
  }
}
@media (max-width: 767px) {
  .accordeon__header {
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 0;
    font-size: 16px;
    padding-top: 19px;
    padding-bottom: 11px;
    margin-bottom: 15px;
  }
  .accordeon__header::before {
    display: none;
  }
  .accordeon__text {
    font-size: 14px;
    padding-right: 5% !important;
    padding-left: 5% !important;
    padding-bottom: 15px;
  }
  .accordeon__column:first-child .accordeon__item:first-child .accordeon__input:checked ~ .accordeon__text {
    max-height: none;
    padding-bottom: 15px;
    padding-right: 5%;
    padding-left: 5%;
    opacity: 1;
    transition: all 0.25s ease-in-out;
  }
  .accordeon__column:first-child .accordeon__item:first-child .accordeon__input ~ .accordeon__text {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5%;
    padding-left: 5%;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }
}
.section-form {
  background-color: #f0f1f5;
  background: linear-gradient(to bottom, #f0f1f5, #f6f7f9);
  border-top: 12px solid #f4f5fa;
  border-bottom: 12px solid #f4f5fa;
}
.section-form__container {
  border-top: 9px solid #ffffff;
  border-bottom: 9px solid #ffffff;
}
.section-form__wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 70px;
}
.section-form__title {
  color: #3e4460;
}
.section-form__form {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form__label--section-form {
  font-size: 26px;
  color: #636781;
  letter-spacing: normal;
  margin-left: 0;
}
.form__input--section-form {
  width: 399px;
  font-size: 41px;
  padding: 19px 28px 12px 28px;
  color: #575e83;
  border: 5px solid #575e83;
  margin: 0;
  box-sizing: border-box;
}
.form__button--section-form {
  font-size: 26px;
  padding: 24px;
  background-color: #c4cbe9;
  background: linear-gradient(to bottom, #dbdfed, #c3cbe9);
}
@media (max-width: 1279px) {
  .section-form {
    border-top: 9px solid #f4f5fa;
    border-bottom: 9px solid #f4f5fa;
  }
  .section-form__container {
    border-top: 6px solid #ffffff;
    border-bottom: 6px solid #ffffff;
  }
  .section-form__wrapper {
    padding-top: 15px;
    padding-bottom: 30px;
    width: 88%;
  }
  .form__label--section-form {
    font-size: 19px;
  }
  .form__input--section-form {
    font-size: 29px;
    width: 283px;
    padding: 12px 20px 9px 20px;
    border: 2px solid #575e83;
  }
  .form__button--section-form {
    font-size: 19px;
    padding: 18px;
  }
}
@media (max-width: 767px) {
  .section-form__wrapper {
    padding-top: 26px;
    padding-bottom: 19px;
  }
  .section-form__form {
    flex-direction: column;
    align-items: flex-start;
  }
  .form__label--section-form {
    margin-bottom: 5px;
  }
  .form__button--section-form {
    font-size: 17px;
    padding: 15px;
  }
  .form__button {
    align-self: auto;
    margin-top: 14px;
  }
  .form__input--section-form {
    margin: 0;
  }
}
.function-title {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.function-title__more {
  color: #616b9b;
  font-family: "Glober Bold", Arial, Helvetica, sans-serif;
  font-size: 43px;
  text-transform: uppercase;
  align-self: center;
  margin-bottom: 90px;
}
.function-title__title {
  color: #7c91c4;
  font-size: 47px;
  width: 200px;
  text-transform: none;
  align-self: flex-end;
  margin-bottom: 45px;
}
.function-title__title span {
  font-size: 143px;
  line-height: 80px;
}
.function-title__gravitel {
  display: flex;
}
.function-title__text {
  color: #616b9b;
  font-family: "Glober";
  font-weight: 700;
  line-height: 62.55px;
  text-transform: uppercase;
  font-size: 76px;
  align-self: flex-end;
  margin-right: 55px;
  margin-bottom: 45px;
}
.function-title__text span {
  color: #3b4f66;
  display: block;
}
.function-title__img {
  position: relative;
  top: 55px;
  margin-right: 15px;
}
@media (max-width: 1279px) {
  .function-title {
    max-width: 690px;
    justify-content: space-between;
  }
  .function-title__more {
    font-size: 39px;
    margin-bottom: 10px;
  }
  .function-title__title {
    font-size: 44px;
    width: 175px;
    margin-bottom: 5px;
  }
  .function-title__title span {
    font-size: 136px;
  }
  .function-title__gravitel {
    flex-direction: column;
    margin-right: 20px;
  }
  .function-title__text {
    font-size: 68px;
    order: 1;
    margin-right: 0;
    margin-left: 15px;
    margin-bottom: 0;
  }
  .function-title__img {
    top: 0;
    margin-bottom: 21px;
    width: 186px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .function__header {
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 24px;
  }
  .function-title__more {
    font-size: 23px;
    justify-self: flex-end;
    margin-top: 20px;
  }
  .function-title__title {
    font-size: 27px;
    line-height: 27px;
    width: 106px;
    position: absolute;
  }
  .function-title__title span {
    font-size: 82px;
    line-height: 80px;
  }
  .function-title__text {
    font-size: 42px;
    line-height: 40px;
    align-self: auto;
  }
  .function-title__gravitel {
    margin-bottom: 17px;
  }
}
.function__header {
  margin-top: 30px;
}
.function__wrapper {
  background-color: #f3f4f9;
}
.function__wrapper--second {
  background-color: #ffffff;
}
.function__wrapper--third {
  background-color: #ffffff;
  border-bottom: 9px solid #f6f7fa;
  padding-bottom: 54px;
  margin-top: 35px;
}
.function__text {
  max-width: 1140px;
  margin: 0 auto;
  color: #6878ad;
  font-family: "Glober";
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 15px;
}
.function__text span {
  color: #3b4f66;
  display: block;
}
.function__text--second {
  color: #777d91;
}
@media (max-width: 1279px) {
  .function__header {
    margin-top: 41px;
    margin-bottom: 20px;
  }
  .function__text {
    max-width: 700px;
    font-size: 29px;
    padding-top: 24px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .function__text--second {
    font-size: 26px;
  }
  .function__wrapper--third {
    margin-top: 20px;
    padding-bottom: 5px;
    border-width: 6px;
  }
}
@media (max-width: 767px) {
  .function {
    margin-top: 24px;
  }
  .function__text {
    max-width: 90%;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .function__text--second {
    padding-top: 11px;
    font-size: 15px;
  }
  .function__wrapper--third {
    border-bottom: none;
    padding-bottom: 0;
  }
}
.slider {
  max-width: 1240px;
  margin: 0 auto;
}
.slider__img {
  height: 100%;
  text-align: center;
  width: 55px;
}
.slider__item {
  width: auto;
  max-width: 320px;
  margin: 0 auto;
}
.slider__hexagon {
  margin: 0 auto;
  width: 65px;
  height: 110px;
  background: #5687ae;
  position: relative;
  text-align: center;
}
.slider__hexagon::before,
.slider__hexagon::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
}
.slider__hexagon::before {
  right: -30px;
  border-left: 30px solid #5687ae;
}
.slider__hexagon::after {
  left: -30px;
  border-right: 30px solid #5687ae;
}
.slider__wrapper {
  padding: 0 20px;
  background-color: #d2eefd;
  border-radius: 20px;
}
.slider__term {
  color: #222533;
  font-family: "Glober";
  font-size: 30px;
  padding: 20px 30px;
  background-color: #f5f7ff;
  border-radius: 20px;
  font-weight: 600;
}
.slider__controls {
  width: 100%;
}
.slider__list {
  margin-top: 10px;
  margin-left: 15px;
}
.slider__list-item {
  color: #222533;
  font-family: "Glober";
  font-size: 19px;
  line-height: 29.5px;
  position: relative;
  padding-left: 17px;
}
.slider__list-item::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: #93abff;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0;
}
.slider__control {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 14px;
}
.swiper-button-next,
.swiper-button-prev {
  position: static;
  background-image: none;
  width: 170px;
  height: 109px;
  position: relative;
  padding-top: 25px;
  color: #5a5e68;
  font-family: "Glober";
  font-size: 24px;
  margin-top: 0;
  box-sizing: border-box;
  font-weight: 600;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
  width: 55px;
  height: 109px;
  display: block;
  position: absolute;
  top: 0;
}
.swiper-button-next {
  padding-right: 65px;
  text-align: right;
}
.swiper-button-next:after {
  background: url(../img/arrow-right.svg) center center no-repeat;
  right: 0;
}
.swiper-button-prev {
  padding-left: 65px;
}
.swiper-button-prev:after {
  background: url(../img/arrow-left.svg) center center no-repeat;
  left: 0;
}
.swiper-pagination {
  position: static;
  position: relative;
  align-self: center;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  background: #d2d9f3;
  opacity: 1;
  margin-left: 7px;
  margin-right: 7px;
  z-index: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative;
  z-index: 8;
  width: 128px;
  height: 58px;
  background: url('../img/pagination.svg');
  border-radius: 0;
  top: 10px;
}
.slider__input {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
@media (max-width: 1279px) {
  .slider {
    max-width: 690px;
  }
  .slider__item {
    max-width: 210px;
  }
  .slider__wrapper {
    padding: 0 20px;
    border-radius: 15px;
  }
  .slider__hexagon {
    width: 35px;
    height: 70px;
  }
  .slider__hexagon::before,
  .slider__hexagon::after {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
  }
  .slider__hexagon::before {
    right: -20px;
    border-left: 20px solid #5687ae;
  }
  .slider__hexagon::after {
    left: -20px;
    border-right: 20px solid #5687ae;
  }
  .slider__term {
    font-size: 18px;
    padding: 20px 15px;
    border-radius: 15px;
  }
  .slider__list-item {
    font-size: 14px;
    line-height: 20.7px;
  }
  .slider__list-item::before {
    width: 4px;
    height: 4px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 16px;
    padding-top: 15px;
    width: 105px;
    height: 66px;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: '';
    width: 33px;
    height: 66px;
  }
  .swiper-button-next {
    padding-right: 40px;
  }
  .swiper-button-next:after {
    background: url(../img/arrow-right.svg) center right no-repeat;
  }
  .swiper-button-prev {
    padding-left: 40px;
  }
  .swiper-button-prev:after {
    background: url(../img/arrow-left.svg) center left no-repeat;
  }
  .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 80px;
    height: 36px;
    background: url('../img/pagination.svg');
    background-size: cover;
  }
  .slider__control {
    max-width: 685px;
  }
}
@media (max-width: 767px) {
  .swiper-wrapper {
    display: block;
  }
  .slider__text {
    max-height: none;
    padding: 0;
    opacity: 1;
    transition: all 0.25s ease-in-out;
    padding-bottom: 15px;
  }
  .slider__control {
    display: none;
  }
  .slider__input:checked ~ .slider__text {
    max-height: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }
  .swiper-slide:first-child .slider__input:checked ~ .slider__text,
  .swiper-slide:nth-child(2) .slider__input:checked ~ .slider__text {
    max-height: none;
    padding: 0;
    opacity: 1;
    transition: all 0.25s ease-in-out;
    padding-bottom: 15px;
  }
  .swiper-slide:first-child .slider__input ~ .slider__text,
  .swiper-slide:nth-child(2) .slider__input ~ .slider__text {
    max-height: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }
  .slider__header {
    display: flex;
  }
  .slider__item {
    max-width: 90%;
  }
  .slider__wrapper {
    align-self: center;
    width: 100%;
  }
  .slider__hexagon {
    margin-left: 25px;
    width: 45px;
    height: 80px;
    align-self: center;
  }
  .slider__hexagon::before,
  .slider__hexagon::after {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
  }
  .slider__hexagon::before {
    right: -20px;
    border-left: 20px solid #5687ae;
  }
  .slider__hexagon::after {
    left: -20px;
    border-right: 20px solid #5687ae;
  }
}
.garancy {
  margin-top: 141px;
}
.garancy__header {
  background-color: #ecf3fd;
  background: linear-gradient(to bottom, #ffffff, #ecf3fd);
  padding-bottom: 135px;
  border-bottom: 2px solid #dfeaf5;
}
.garancy__wrapper {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
}
.garancy__left {
  width: 40%;
  margin-right: 41px;
}
.garancy__img--second {
  width: 360px;
  height: auto;
  vertical-align: top;
  padding-top: 14px;
  margin-right: 0;
  margin-bottom: 46px;
}
.garancy__text {
  color: #6878ad;
  font-family: "Glober";
  font-weight: 700;
  font-size: 37px;
  text-transform: uppercase;
}
.garancy__text span {
  color: #3b4f66;
}
.garancy__text--second {
  margin-top: 10px;
  color: #6878ad;
}
.garancy__text--second span {
  display: block;
}
.garancy__text--third {
  color: #6b859b;
  font-size: 27px;
}
.garancy__text--footer {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 121px;
  padding-bottom: 100px;
  font-size: 34px;
  text-align: center;
}
.garancy__feature {
  color: #aac2e8;
  font-family: "Glober Bold";
  font-size: 43px;
  line-height: 86.43px;
  text-transform: uppercase;
}
.garancy__footer {
  background-color: #ecf3fd;
  background: linear-gradient(to bottom, #ecf3fd, #ffffff);
  border-top: 2px solid #dfeaf5;
}
@media (max-width: 1279px) {
  .garancy {
    margin-top: 60px;
  }
  .garancy__wrapper {
    max-width: 700px;
  }
  .garancy__left {
    width: 41%;
    margin-right: 30px;
  }
  .garancy__img--second {
    width: 226px;
    margin-bottom: 27px;
  }
  .garancy__text {
    font-size: 23px;
  }
  .garancy__text--second {
    margin-top: 10px;
  }
  .garancy__text--third {
    font-size: 17px;
  }
  .garancy__header {
    padding-bottom: 70px;
  }
  .garancy__text--footer {
    max-width: 675px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 21px;
  }
}
@media (max-width: 767px) {
  .garancy {
    margin-top: 49px;
  }
  .garancy__wrapper {
    max-width: 90%;
    display: block;
  }
  .garancy__img {
    min-width: auto;
    width: 100px;
  }
  .garancy__img--second {
    width: 150px;
    margin-right: 0;
  }
  .garancy__right {
    margin-left: 0;
  }
  .garancy__left {
    float: left;
  }
  .garancy__text {
    clear: both;
  }
  .garancy__text--footer {
    font-size: 15px;
    text-align: center;
    max-width: 90%;
  }
}
.features {
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
}
.features__wrapper {
  border-top: 25px solid #e8f0fa;
  border-bottom: 25px solid #e8f0fa;
}
.features__text {
  color: #aac2e8;
  font-family: "Glober";
  font-weight: 700;
  font-size: 43px;
  text-transform: uppercase;
  z-index: 10;
}
.features__text--second {
  color: #6878ad;
  font-family: "Glober";
  font-size: 99px;
  line-height: 1;
}
.features__text--second span {
  font-size: 65px;
  margin-left: -10px;
}
.features__text--third {
  font-size: 50px;
  margin-top: -10px;
}
.features__text--large {
  font-size: 60px;
}
.features__items {
  justify-content: space-between;
  position: relative;
  max-width: 1080px;
}
.features__item {
  background: #ffffff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.features__item--second {
  padding: 0;
  width: 497px;
  height: 497px;
  background: #e8f0fa;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #ffffff;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  top: -130px;
}
.features__item--second::before,
.features__item--second::after {
  content: "";
  display: block;
  position: absolute;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background: #ffffff;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
.features__item--second::after {
  border: 5px solid #e5eff9;
  width: 90%;
  height: 90%;
}
@media (max-width: 1279px) {
  .features {
    border-top: 8px solid #ffffff;
    border-bottom: 8px solid #ffffff;
  }
  .features__wrapper {
    border-top: 20px solid #e8f0fa;
    border-bottom: 20px solid #e8f0fa;
  }
  .features__text {
    font-size: 26px;
    line-height: normal;
  }
  .features__text--second {
    font-size: 61px;
  }
  .features__text--second span {
    font-size: 40px;
  }
  .features__text--third {
    font-size: 31px;
    margin-top: -5px;
  }
  .features__text--large {
    font-size: 37px;
  }
  .features__items {
    max-width: 715px;
  }
  .features__item {
    padding-top: 25px;
    padding-bottom: 15px;
    width: 200px;
  }
  .features__item--second {
    padding: 0;
    width: 306px;
    height: 306px;
    top: -80px;
  }
}
@media (max-width: 767px) {
  .features {
    border-top-width: 6px;
  }
  .features__items {
    max-width: 100%;
  }
  .features__item {
    width: 100%;
  }
  .features__item:first-child {
    margin-bottom: 247px;
    border-bottom: 20px solid #e8f0fa;
  }
  .features__item:nth-child(3) {
    border-top: 20px solid #e8f0fa;
  }
  .features__item--second {
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 306px;
  }
}
